# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment Variables
.env
.env.local

# Local Directories
/kyras-closet-frontend/dist # Production build files